

body {

background-image: url('../images/background-news.jpg');

font-family: 'ZCOOL KuaiLe', cursive;

}

#wrapper {
	width:70%;
	margin:auto;
background-color: grey;

}


ul#social {
list-style-type: none;
display:flex;

}

ul#social li {
float: left;

}


/*.clearfix::after {
  content: "";
  clear: both;
  display: table;
}*/


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: #111;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  background-color: grey;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}




footer ul li img {
	width:30%;
}

#hero img {
	width:100%;
}

#hero{

background: url('../images/fake-news-hero.jpg');
	height: 300px;

}